{% extends "base.html" %}

{% block title %} Home Page {% endblock %}
{% load static %}
{% block content %}

<h1>Create a New Post</h1>
<form method="post" class="post-form" id="postForm">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" id="lat" name="lat" value="">
  <input type="hidden" id="lon" name="lon" value="">
  
  <button type="submit" id="submitButton">Post</button>
</form>

<a class="collapse-item" href="{% url 'entries' %}">Entries</a>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Check if the browser supports Geolocation
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        
        // Set the latitude and longitude values
        document.getElementById("lat").value = lat;
        document.getElementById("lon").value = lon;
        
        // Enable the submit button
        document.getElementById("submitButton").disabled = false;
      }, function(error) {
        console.error("Error getting geolocation: ", error);
      });
    } else {
      console.log("Geolocation is not supported by this browser.");
    }
  });

  // Disable the submit button until the geolocation is set
  document.getElementById("submitButton").disabled = true;
  
  // Form submission handler to ensure lat/lon are set
  document.getElementById("postForm").addEventListener("submit", function(event) {
    var lat = document.getElementById("lat").value;
    var lon = document.getElementById("lon").value;
    console.log("lat1111111111111111111111",lat);
    
    if (!lat || !lon) {
      alert("Geolocation not set. Please ensure your location is enabled and try again.");
      event.preventDefault();  // Prevent form submission
    }
  });
</script>

{% endblock %}
