.sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main-content {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  .slider-container {
    margin: 20px;
  }
  
  .slider {
    width: 100%;
  }
  
  .radius-display {
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
  }
  
  #map {
    height: 400px;
    margin: 20px;
  }
  